.index{
    .title{
        font-size: 5.3333vw;
        color: #2F3238;
        font-weight: 500;
        margin: 3.2vw 0;
    }
    .handleList{
        display: flex;
        margin-bottom: 5.3333vw;
    }
    .index-content{
        padding: 2.6667vw 5.3333vw;
    }
    .index-img{
        height: 100%;
        width: 100%;
    }
}