.leave{
    padding: 5.3333vw 5.3333vw;
    .leave-title{
        font-size: 5.3333vw;
        font-weight: 500;
        color: #2F3238;
    }
    .leave-save{
        width: 89.3334vw;
        height: 11.7333vw;
        line-height: 11.7333vw;
        background: #4D85FF;
        margin-bottom: 2.1333vw;
        color: #FFFFFF;
        margin-top: 5.3333vw;
    }
}